GENERIC_TIMEZONE={{ n8n_timezone | default('Europe/Madrid') }}
N8N_HOST={{ n8n_domain }}
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://{{ n8n_domain }}/
N8N_USER_FOLDER=/home/node/.n8n
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE={{ n8n_db_name | default('n8n') }}
DB_POSTGRESDB_USER={{ n8n_db_user | default('n8n') }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
DB_POSTGRESDB_SCHEMA=public
# Seguridad básica opcional
N8N_BASIC_AUTH_ACTIVE={{ n8n_basic_auth | default('true') }}
N8N_BASIC_AUTH_USER={{ n8n_basic_auth_user | default('admin') }}
N8N_BASIC_AUTH_PASSWORD={{ n8n_basic_auth_password }}
N8N_DIAGNOSTICS_ENABLED=false
